In [ ]:
#Install mysql-connector-python
!pip install mysql-connector-python

In [ ]:
!pip install pandas

In [2]:
#import mysql-connector-python
import mysql.connector

In [ ]:
#Connect database server with python
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  port=3306,
  password=""
  
)

print(mydb)
mycursor = mydb.cursor(buffered=True)

In [5]:
#Create a Database
mycursor.execute("CREATE DATABASE PHONEPE_PLUSE")
mydb.commit()

In [4]:
mycursor.execute("USE PHONEPE_PLUSE")
mydb.commit()

In [ ]:
#Transfer your CSV file to mysql 
import pandas as pd

# CSV file path
csv_file = (r"Your CSV Path")

# Create a new table in the database
create_table_query = """
CREATE TABLE IF NOT EXISTS Agg_trans (
    States VARCHAR(34),
    Transaction_Year INT(4),
    Quarters INT(1),
    Transaction_Type VARCHAR(24),
    Transaction_Count INT(10),
    Transaction_Amount DECIMAL(18,2)
)
"""
mycursor.execute(create_table_query)

# Load the CSV data into a Pandas DataFrame
data = pd.read_csv(csv_file)

# Insert data into the MySQL table
for index, row in data.iterrows():
    insert_query = """
    INSERT INTO Agg_trans (States, Transaction_Year, Quarters, Transaction_Type, Transaction_Count,
    Transaction_Amount) VALUES (%s, %s, %s, %s, %s, %s)
    """
    values = (row['States'], row['Transaction_Year'],row['Quarters'],row['Transaction_Type'],row['Transaction_Count'],row['Transaction_Amount'])  # Replace with your column names
    mycursor.execute(insert_query, values)

# Commit the changes and close the connection
mydb.commit()
mycursor.close()
mydb.close()

print("CSV data transferred to MySQL successfully.")

In [ ]:
# CSV file path
csv_file = (r"Your CSV Path")

# Create a new table in the database
create_table_query = """
CREATE TABLE IF NOT EXISTS Map_tran (
    States VARCHAR(100),
    Transaction_Year INT(10),
    Quarters INT(10),
    District VARCHAR(50),
    Transaction_Type VARCHAR(55),
    Transaction_Count DECIMAL(18,2)
)
"""
mycursor.execute(create_table_query)

# Load the CSV data into a Pandas DataFrame
data = pd.read_csv(csv_file)

# Insert data into the MySQL table
for index, row in data.iterrows():
    insert_query = """
    INSERT INTO Map_tran (States, Transaction_Year, Quarters, District, Transaction_Type, 
    Transaction_Count) VALUES (%s, %s, %s, %s, %s, %s)
    """
    values = (row['States'], row['Transaction_Year'],row['Quarters'],row['District'],row['Transaction_Type'],row['Transaction_Count'])  # Replace with your column names
    mycursor.execute(insert_query, values)

# Commit the changes and close the connection
mydb.commit()
mycursor.close()
mydb.close()

print("CSV data transferred to MySQL successfully.")

In [ ]:
# CSV file path
csv_file = (r"Your CSV Path")

# Create a new table in the database
create_table_query = """
CREATE TABLE IF NOT EXISTS Top_tran (
    States VARCHAR(34),
    Transaction_Year INT(4),
    Quarters INT(1),
    District VARCHAR(26),
    Transaction_Type VARCHAR(5),
    Transaction_Count INT(10),
    Transaction_Amount DECIMAL(20,2)
)
"""
mycursor.execute(create_table_query)

# Load the CSV data into a Pandas DataFrame
data = pd.read_csv(csv_file)

# Insert data into the MySQL table
for index, row in data.iterrows():
    insert_query = """
    INSERT INTO Top_tran (States, Transaction_Year, Quarters, District, Transaction_Type, Transaction_Count,
    Transaction_Amount) VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    values = (row['States'], row['Transaction_Year'],row['Quarters'],row['District'],row['Transaction_Type'],row['Transaction_Count'],row['Transaction_Amount'])  # Replace with your column names
    mycursor.execute(insert_query, values)

# Commit the changes and close the connection
mydb.commit()
mycursor.close()
mydb.close()

print("CSV data transferred to MySQL successfully.")

In [ ]:
# CSV file path
csv_file = (r"Your CSV Path")

# Create a new table in the database
create_table_query = """
CREATE TABLE IF NOT EXISTS Agg_user (
    States VARCHAR(34),
    Transaction_Year INT(4),
    Quarters INT(1),
    Transaction_Type VARCHAR(24),
    Transaction_Count INT(10),
    Transaction_Amount DECIMAL(18,2)
)
"""
mycursor.execute(create_table_query)

# Load the CSV data into a Pandas DataFrame
data = pd.read_csv(csv_file)

# Insert data into the MySQL table
for index, row in data.iterrows():
    insert_query = """
    INSERT INTO Agg_user (States, Transaction_Year, Quarters, Transaction_Type, Transaction_Count,
    Transaction_Amount) VALUES (%s, %s, %s, %s, %s, %s)
    """
    values = (row['States'], row['Transaction_Year'],row['Quarters'],row['Transaction_Type'],row['Transaction_Count'],row['Transaction_Amount'])  # Replace with your column names
    mycursor.execute(insert_query, values)

# Commit the changes and close the connection
mydb.commit()
mycursor.close()
mydb.close()

print("CSV data transferred to MySQL successfully.")

In [ ]:
# CSV file path
csv_file = (r"Your CSV Path")

# Create a new table in the database
create_table_query = """
CREATE TABLE IF NOT EXISTS Map_user (
    States VARCHAR(34),
    Transaction_Year INT(4),
    Quarters INT(1),
    District VARCHAR(35),
    RegisteredUsers INT(8)
)
"""
mycursor.execute(create_table_query)

# Load the CSV data into a Pandas DataFrame
data = pd.read_csv(csv_file)

# Insert data into the MySQL table
for index, row in data.iterrows():
    insert_query = """
    INSERT INTO Map_user (States, Transaction_Year, Quarters, District,
    RegisteredUsers) VALUES (%s, %s, %s, %s, %s)
    """
    values = (row['States'], row['Transaction_Year'],row['Quarters'],row['District'],row['RegisteredUsers'])  # Replace with your column names
    mycursor.execute(insert_query, values)

# Commit the changes and close the connection
mydb.commit()
mycursor.close()
mydb.close()

print("CSV data transferred to MySQL successfully.")

In [ ]:
# CSV file path
csv_file = (r"Your CSV Path")

# Create a new table in the database
create_table_query = """
CREATE TABLE IF NOT EXISTS Top_user (
    States VARCHAR(34),
    Transaction_Year INT(4),
    Quarters INT(1),
    District VARCHAR(26),
    RegisteredUsers INT(8)
)
"""
mycursor.execute(create_table_query)

# Load the CSV data into a Pandas DataFrame
data = pd.read_csv(csv_file)

# Insert data into the MySQL table
for index, row in data.iterrows():
    insert_query = """
    INSERT INTO Top_user (States, Transaction_Year, Quarters, District,
    RegisteredUsers) VALUES (%s, %s, %s, %s, %s)
    """
    values = (row['States'], row['Transaction_Year'],row['Quarters'],row['District'],row['RegisteredUsers'])  # Replace with your column names
    mycursor.execute(insert_query, values)

# Commit the changes and close the connection
mydb.commit()
mycursor.close()
mydb.close()

print("CSV data transferred to MySQL successfully.")